/**
 * YuriNET Stylesheet file
 * By Thai RA2 Lovers (Norrapat Nimmanee)
 */

body {
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: #292B3A;
    background-image: url('assets/images/bg-apo.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    /*background: transparent;*/
}

a {
    color: #4B116D;
}

a:hover {
    color: #C999E4;
}

.main.container {
    margin-top: 7em;
}

.clickable {
    cursor: pointer;
}

.violet {
    color: #712C99;
}

.ui.form {
    input:not([type]), input[type=text],
    input[type=email], input[type=search],
    input[type=password], input[type=date],
    input[type=datetime-local], input[type=tel],
    input[type=time], input[type=url],
    input[type=number] {
        background: #E8E8E8;
    }
    
    .field, .fields {
        &.error {
            input:not([type]), input[type=text],
            input[type=email], input[type=search],
            input[type=password], input[type=date],
            input[type=datetime-local], input[type=tel],
            input[type=time], input[type=url],
            input[type=number], select,
            textarea {
                background: #FFDFDD;
                border-color: #FB8B77;
                color: #9f3a38;
            }
        }
    }
    
    
}

.ui.checkbox {
    .box, label {
        cursor: pointer;
    }
}

.main-router + * {
    margin-top: 40px;
}

.ui.violet.button, .ui.violet.buttons .button {
    background-color: #712C99;
}

.ui.violet.button:hover, .ui.violet.buttons .button:hover {
    background-color: #8139AB;
}

.ui.violet.button:focus, .ui.violet.buttons .button:focus {
    background-color: #8139AB;
    text-decoration: underline;
}

.ui.menu {
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.ui.violet.menu {
    background-color: #3B236F;
    color: #fff;
    border-radius: 0;
    margin-bottom: 3rem;
}

.ui.violet.menu .ui.container {
    background: #482A8A;
}

.ui.violet.menu .item {
    color: #B9A8DC !important;
}

.ui.menu .item.bold {
    font-weight: bold !important;
}

.ui.menu .ui.dropdown .menu > .active.item {
    background: rgba(255, 255, 255, 0.10) !important;
    font-weight: 900 !important;
}

.ui.menu .violet.active.item,
.ui.violet.menu .active.item {
    color: #EFE7FF !important;
}

.ui.menu .item.selected {
    color: #fff !important;
    background-color: #331F5F;
}

.ui.menu .item.selected:before {
    content: ' ';
    box-shadow: 8px 0 4px -5px #301C5C inset;
    height: 100%;
    left: -.6px;
    position: absolute;
    top: 0;
    width: 50%;
    background: transparent;
}

.ui.menu .item.selected::after {
    content: ' ';
    box-shadow: -8px 0 4px -6px #301C5C inset;
    height: 100%;
    right: 0px;
    position: absolute;
    top: 0;
    width: 50%;
}

.ui.violet.menu .dropdown.item .menu {
    background: #694CA9;
}

.ui.violet.menu .ui.dropdown .menu > .item {
    color: #fff !important;
}

.ui.link.menu .item:hover, .ui.menu .dropdown.item:hover,
.ui.menu .link.item:hover, .ui.menu a.item:hover {
    background: rgba(255, 255, 255, 0.18);
}

.ui.menu .header.item:after {
    content: '';
    background: url('assets/images/icon.png') no-repeat 50% -6px;
    background-size: cover;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    height: 82px;
    transition: background-image .3s;
}

.ui.menu .header.item:hover::after {
    background: url('assets/images/icon-hover.png') no-repeat 50% -6px;
    background-size: cover;
}

.ui.main.text.container {
    max-width: inherit !important;
}

.ui.segment {
    background: #576177;
}

.ui.message {
    color: rgba(255, 255, 255, 0.87);
    background: #576177;
}

/* Angular Transition */
.pop.transition {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.pop.transition.ng-enter,
.pop.transition.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.pop.transition.ng-enter {
    -webkit-transform: scale(0);
    transform: scale(0);
}

.pop.transition.ng-enter-active {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.pop.transition.ng-leave {
    opacity: 1;
}

.pop.transition.ng-leave-active {
    opacity: 0;
}

.fade.transition {

}

.fade.transition.ng-enter,
.fade.transition.ng-leave {
    -webkit-transition: opacity 1s ease;
    transition: opacity 1s ease;
}

.fade.transition.ng-enter {
    opacity: 0;
}

.fade.transition.ng-enter-active {
    opacity: 1;
}

.fade.transition.ng-leave {
    opacity: 1;
}

.fade.transition.ng-leave-active {
    opacity: 0;
}

.scene .sub.fade.transition {
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
}

/* End Angular Transition */

/* Settings button */
.btn-settings {
    position: fixed;
    z-index: 99999;
    bottom: 0;
}

.btn-settings .ui.button {
    opacity: 0.5;
}

.btn-settings .ui.button.active {
    opacity: 1;
}

/* Debugging info */
.debug-info-fixed {
    display: block;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background: rgba(93, 93, 93, 0.6);
    color: #fff;
}

/* Hide first header for table */
.dataTables_scrollBody table thead {
    visibility: hidden;
}

#gameRoom td:first-child {
    text-align: center;
}